:root {
  --base-hue: 220;
}
svg#Stat #background {
  fill: hsl(var(--base-hue), 100%, 20%);
  stroke: hsl(var(--base-hue), 100%, 75%);
}

svg#Stat #label {
  fill: hsl(var(--base-hue), 100%, 75%);
  font-size: 32px;
  font-weight: bold;
  text-anchor: middle;
}

svg#Stat #value {
  fill: hsl(calc(var(--base-hue) - 180), 100%, 50%);
  font-size: 64px;
  font-weight: bold;
  text-anchor: middle;
}
