:root {
  --base-hue: 210;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./public/fonts/roboto-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./public/fonts/roboto-mono-v12-latin-regular.woff2') format('woff2');
}
html,
body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: hsl(var(--base-hue), 100%, 75%);
  background-color: hsl(var(--base-hue), 100%, 10%);
}
#App {
  --row-height: calc(((100vh - 3em) / 4) - 5px);
  display: grid;
  width: 100vw;
  height: 100vh;
  gap: 5px;
}
#App div {
  background-color: hsl(210, 50%, 5%);
  border: 1px solid hsl(210, 50%, 30%);
}
#App #header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  font-size: 1.5em;
}
#App #header > div {
  flex: 1;
  border: 0;
  align-items: center;
  text-align: center;
}
#App #header > div:first-child {
  text-align: left;
}
#App #header > div:last-child {
  text-align: right;
}
#App #clock {
  grid-area: clock;
}
#App #temp {
  grid-area: temp;
}
#App #humidity {
  grid-area: humidity;
}
#App #feelslike {
  grid-area: feelslike;
}
#App #anemometer {
  grid-area: anemometer;
}
#App #windgraph {
  grid-area: windgraph;
}
#App #windsaloft {
  grid-area: windsaloft;
}
#App #qrcode {
  grid-area: qrcode;
  display: none;
}
#App {
  grid-template-columns: calc(((100vh - 3em) / 4) * 3) 1fr;
  grid-template-rows:
    3em var(--row-height) var(--row-height) var(--row-height) var(--row-height)
    var(--row-height);
  grid-template-areas:
    'header header'
    'anemometer windsaloft'
    'anemometer windsaloft'
    'anemometer windsaloft'
    'windgraph  windsaloft';
}
@media (max-aspect-ratio: 14/9) {
  #App {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas:
      'header'
      'anemometer'
      'windgraph'
      'windsaloft'
      'qrcode';
  }
  #App #qrcode {
    width: 50vw;
    margin-left: 25vw;
    display: block;
  }
}
